/*Ronak Nathani*/
/*
#logo {
    
    padding:10px;
    font-size: 36px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}

#logo div a{
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-10px,0,0);
    -moz-transform: translate3d(-10px,0,0);
    -ms-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    color:#333;
    opacity:1;
    display:block;
    float:left;
    text-decoration: none;
}

#logo .first {
    top:25px;
    left:120px;
    height:50px;
    position:absolute;
}

#logo .last {
    top:25px;
    left:100px;
    height:50px;
    position:absolute;
}

#logo:hover .first a, #logo:hover .last a  {
    opacity:0;
}

#logo .one {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}


#logo .two {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#logo .three {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#logo .four {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

#logo .five {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
}
*/
.social-buttons{
    font-size:48px;
    text-align: center;
}

/*.social-buttons:hover{
    font-size:48px;
    text-align: center;
}*/

.gmail{
    color:#333;
}

.gmail:hover{
    color:#B71C1C;
}

.linkedin{
    color:#333;
}

.linkedin:hover{
    color:#1b5480;
}

.github{
    color:#333;
}

.github:hover{
    color:#677c89;
}



@media(max-width: 768px){
    .bottomPadding{
    padding-bottom:20px;
}
}

@media(max-width: 768px){
.bottom-border-xs{
    border-bottom:1px solid #ccc;
}
}

@media(min-width:768px){
    .bottom-border-768{
        border-bottom:1px solid #ccc;
    }
    .right-border-768{
        border-right:1px solid #ccc;
    }
}

@media(min-width:992px){
    .bottom-border-768{
        border-bottom:0px solid #ccc;
    }
    .right-border-768{
        border-right:0px solid #ccc;
    }
}

@media(min-width:992px){
.bottom-border{
    border-bottom:1px solid #ccc;
}

.right-border{
    border-right:1px solid #ccc;
}
}

@media(min-width:992px){
.left-border{
    border-left:1px solid #ccc;
}
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}

header {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background:#ffffff; 
    color:#333333; 
    padding-top:20vh;
    margin:0; 
}

a {
    transition: all .3s ease-in-out;
}

    a:hover {
        text-decoration: underline;
    }

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.navbar-default {
    border-color: transparent;
    background-color: rgba(255,255,255,1);
}


    .navbar-default .navbar-brand {
        
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #333;
        line-height: 50px;
    }

    .navbar-default .navbar-brand .engineer{
        visibility: hidden;
        transition: all .2s ease-in-out;
        font-size: 24px;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus,
        .navbar-default .navbar-brand:active,
        .navbar-default .navbar-brand.active {
            color: #333333;
        }

    .navbar-default .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-default .navbar-toggle {
        border-color: #fb8c00;
        background-color: #fb8c00;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #fb8c00;
        }

    .navbar-default .nav li a {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 5px;
        
        color: #333;
    }

        .navbar-default .nav li a:hover,
        .navbar-default .nav li a:focus {
            outline: 0;
            color: #ce3a3a;
        }

    .navbar-default .navbar-nav > .active > a {
        /*border-radius: 4px;
        color: #fff;*/
        background-color: #fff;
    }

        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            color: #ce3a3a;
            background-color: #fff;
        }


@media(min-width:801px) {
    .navbar-default {
        padding: 15px 0;
        border: 0;
        border-top: 2px solid #054760;
        background-color: #fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

        .navbar-default .navbar-brand {
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: 300;
            color: #333;
            padding: 5px;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-default .navbar-brand .engineer{
            visibility: hidden;
            transition: all 0.2s ease-in-out;
            font-size: 24px;
        }
        .navbar-default .nav li a {
            margin-left: 5px;
        }

        .navbar-default .navbar-nav > .active > a {
            border-bottom: 2px solid #ce3a3a;
            
        }

        .navbar-default.navbar-shrink {
            padding: 15px 0;
            margin: 0;
            color: #fff;
            background-color: #fff;
            border-top: 2px solid #054760;
            /*box-shadow: 0px 1px 2px 0px #888;*/
        }

            .navbar-default.navbar-shrink .navbar-brand {
                font-size: 24px;
            }

            .navbar-default.navbar-shrink .navbar-brand .engineer{
                visibility: visible;
            }
}


hr.gradb {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


section {
    padding: 50px 0;
}

    section h2.section-heading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 45px;
        font-size: 40px;
        color: #333;
    }

footer {
    padding: 50px 0;
    text-align: center;
}

    footer span.copyright {
        text-transform: uppercase;
        text-transform: none;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
    }

    
.sectionpadding {
    padding-bottom: 50px;
    padding-top: 85px;
}

.footerme {
    /*background: #424242;*/
    background: #292f33;
    color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

    .btn-social:hover {
        color: #fb8c00;
    }

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

    .btn-outline:hover .btn-outline:focus,
    .btn-outline:active,
    .btn-outline.active {
        border: solid 2px #fff;
        color: #18bc9c;
        background: #fff;
    }


hr.grad {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
}


.down{
    animation: down 0.8s ease-in-out forwards;
    -webkit-animation: down 0.8s ease-in-out forwards;
    -moz-animation: down 0.8s ease-in-out forwards;
    -o-animation: down 0.8s ease-in-out forwards;
}

@-webkit-keyframes down {
    from {
        
        transform: translateY(0);
    }

    to {
        
        transform: translateY(10px);
    }
}

@-moz-keyframes down {
    from {
        
        transform: translateY(0);
    }

    to {
        
        transform: translateY(10px);
    }
}

@-o-keyframes down {
    from {
        
        transform: translateY(0px);
    }

    to {
        
        transform: translateY(10px);
    }
}

@keyframes down {
    from {
        
        transform: translateY(0px);
    }

    to {
        
        transform: translateY(10px);
    }
}

.arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border: 2px solid #929292;
    border-radius: 100%;*/
    text-align: center;
    font-size: 56px;
    color:#054760;
    margin-top: -15px;
    transition: all .3s ease-in-out;
    /*line-height: 45px;*/
}

.arrow:hover{
    -webkit-animation: down 0.2s ease-in-out forwards;
    animation: down 0.2s ease-in-out forwards;
}


    .helpareascol {
        padding:60px 20px;
        margin-bottom: 0px;
    }

    .helpareascol-border{
        border-right: 1px solid #ccc;
    }


@media(min-width:992px){
    .helpareascol {
        padding:80px 20px;
        margin-bottom: 0px;
        /*box-shadow: 0 0 10px #ccc;*/
    }

    .helpareascol-border{
        border-right: 0px;
    }

}

#logo {
    opacity: 0;
    animation: fadein 1s linear 0.5s forwards;
    -moz-animation: fadein 1s linear 0.5s forwards; /* Firefox */
    -webkit-animation: fadein 1s ease 0.5s forwards; /* Safari and Chrome */
    -o-animation: fadein 1s linear 0.5s forwards; /* Opera */
}

.come-in {
    animation: come-in 0.8s ease-out forwards;
    -webkit-animation: come-in 0.8s ease-in-out forwards;
    -moz-animation: come-in 0.8s ease-in-out forwards;
    -o-animation: come-in 0.8s ease-in-out forwards;
}
/*.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}*/
.already-visible {
    transform: translateY(0);
    animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -moz-animation: none;
}

@-webkit-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.profile-hover-content-test{
    position: absolute;
    top: 6%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-left: 5px; 
    padding-right: 5px; 
}
.profile-hover-test {
    position: absolute;
    height: 95px;
    width: 343px;
    margin: auto;
    opacity: 0;
    background: rgba(5, 71, 96, 1);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}



@media(min-width:768px) {
    .profile-hover-test {
        position: absolute;
        height: 202px;
        width: 375px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}



@media(min-width:992px) {
    .profile-hover-test {
        position: absolute;
        height: 243px;
        width: 323px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}

@media(min-width:1200px) {
    .profile-hover-test {
        position: absolute;
        height: 242px;
        width: 389px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}

.projectDisplay:hover .profile-hover-test{
    opacity:1;
}

.projectDisplay:hover .profile-hover-content-test{
    
    -webkit-animation: come-in 0.2s ease-out forwards;
    animation: come-in 0.2s ease-out forwards;
    
}
