/*Ronak Nathani*/

@media(max-width: 768px){
    .bottomPadding{
    padding-bottom:80px;
}
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans',sans-serif;
}

header {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background:#ffffff; 
    color:#333333; 
    padding-top:20vh;
    margin:0; 
    min-height:100vh;
}

a {
    transition: all .3s ease-in-out;
}

    a:hover {
        text-decoration: underline;
    }

p {
    font-size: 14px;
    line-height: 1.75;
}

    p.large {
        font-size: 16px;
    }

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

    .btn-xl:hover,
    .btn-xl:focus,
    .btn-xl:active,
    .btn-xl.active,
    .open .dropdown-toggle.btn-xl {
        border-color: #f6bf01;
        color: #fff;
        background-color: #fec503;
    }

    .btn-xl:active,
    .btn-xl.active,
    .open .dropdown-toggle.btn-xl {
        background-image: none;
    }

    .btn-xl.disabled,
    .btn-xl[disabled],
    fieldset[disabled] .btn-xl,
    .btn-xl.disabled:hover,
    .btn-xl[disabled]:hover,
    fieldset[disabled] .btn-xl:hover,
    .btn-xl.disabled:focus,
    .btn-xl[disabled]:focus,
    fieldset[disabled] .btn-xl:focus,
    .btn-xl.disabled:active,
    .btn-xl[disabled]:active,
    fieldset[disabled] .btn-xl:active,
    .btn-xl.disabled.active,
    .btn-xl[disabled].active,
    fieldset[disabled] .btn-xl.active {
        border-color: #fed136;
        background-color: #fed136;
    }

    .btn-xl .badge {
        color: #fed136;
        background-color: #fff;
    }

/*.signup {
    color: #222;
    border: 1px solid #78909c;
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.navbar-default .nav li a.signup:hover,
.navbar-default .nav li a.signup:focus:hover {
    color: #fff;
    background: #ffa726;
    border: 1px solid #ffa726;
    border-radius: 4px;
}*/

.navbar-default .nav li a.signup {
    color: #fff;
    background: #ffa726;
    border: 1px solid #ffa726;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
}

    .navbar-default .nav li a.signup:hover,
    .navbar-default .nav li a.signup:focus {
        color: #fff;
        background: #fb8c00;
        border: 1px solid #fb8c00;
        border-radius: 4px;
        font-weight: 400;
    }

.navbar-default .nav li a.signup-consultant {
    color: #78909c;
    border: 1px solid #78909c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
}

    .navbar-default .nav li a.signup-consultant:hover,
    .navbar-default .nav li a.signup-consultant:focus {
        color: #fff;
        background: #78909c;
        border: 1px solid #78909c;
        border-radius: 4px;
        font-weight: 400;
    }


.navbar-default {
    border-color: transparent;
    background-color: rgba(255,255,255,1);
}


    .navbar-default .navbar-brand {
        
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-weight: 300;
        color: #333;
        line-height: 50px;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus,
        .navbar-default .navbar-brand:active,
        .navbar-default .navbar-brand.active {
            color: #333333;
        }

    .navbar-default .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-default .navbar-toggle {
        border-color: #fb8c00;
        background-color: #fb8c00;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #fb8c00;
        }

    .navbar-default .nav li a {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        margin-top: 5px;
        
        color: #333;
    }

        .navbar-default .nav li a:hover,
        .navbar-default .nav li a:focus {
            outline: 0;
            color: #ce3a3a;
        }

    .navbar-default .navbar-nav > .active > a {
        /*border-radius: 4px;
        color: #fff;*/
        background-color: #fff;
    }

        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            color: #ce3a3a;
            background-color: #fff;
        }

.margin-left {
    margin-left: 10px;
}

@media(min-width:801px) {
    .navbar-default {
        padding: 15px 0;
        border: 0;
        border-top: 2px solid #054760;
        background-color: #fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

        .navbar-default .navbar-brand {
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: 300;
            color: #333;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-default .nav li a {
            margin-left: 5px;
        }

        .navbar-default .navbar-nav > .active > a {
            border-bottom: 2px solid #ce3a3a;
            
        }

        /*.navbar-default .navbar-nav > .active > a:after{
            width:100%;
            height:6px;
            background: #fff;
            display: block;
            margin-top: -100px;
            content:"";
        }*/

        .navbar-default.navbar-shrink {
            padding: 15px 0;
            margin: 0;
            color: #fff;
            background-color: #fff;
            border-top: 2px solid #054760;
            /*box-shadow: 0px 1px 2px 0px #888;*/
        }

            .navbar-default.navbar-shrink .navbar-brand {
                font-size: 30px;
            }
}

.navwhite {
    background-color: #fff;
}

    .navwhite.navbar-shrink {
        background-color: #fff;
    }


hr.gradb {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#message:before {
    content: '\A';
    white-space: pre;
}


@media(min-width:992px) {
    #message:before {
        white-space: normal;
    }
}




#importance {
    /*padding: 60px 0px;*/
    background-color: #43aaa3;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}

.servicelist {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #43aaa3;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
}


@media(min-width:801px) {
    .servicelist {
        height: 800px;
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url(../img/dotmap.png);
        background-attachment: fixed;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-align: left;
    }
}

.servicelistcol {
    padding-left: 40px;
}

.bg-blue-head-imp {
    text-align: center;
    font-size: 40px;
}

.bg-blue-head {
    text-align: center;
    font-size: 40px;
}

@media(min-width:801px) {
    .bg-blue-head {
        text-align: center;
        font-size: 40px;
        padding-top: 250px;
    }
}

.bg-blue-head-countries {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

@media(min-width:801px) {
    .bg-blue-head-countries {
        text-align: center;
        font-size: 20px;
        padding-top: 250px;
        color: #fff;
    }
}

section {
    padding: 50px 0;
}

    section h2.section-heading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 45px;
        font-size: 40px;
        color: #333;
    }

    section h3.section-subheading {
        margin-bottom: 75px;
        text-transform: none;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style: italic;
        font-weight: 300;
    }

    section h4.section-heading {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 20px;
        color: #ff9800;
    }

.service-heading {
    color: #656060;
    margin: 15px 0;
    text-transform: none;
}


#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

    #portfolio .portfolio-item .portfolio-link {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 150px;
    }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;
        }

.portfolio-hover.blue {
    background: rgba(66, 139, 202, 0.8);
}

.portfolio-hover.red {
    background: rgba(217, 83, 79, 0.8);
}


.portfolio-hover.green {
    background: rgba(92, 184, 92, 0.8);
}


#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
        margin-top: -12px;
    }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
    #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
        margin: 0;
    }

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

    #portfolio .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none;
    }

    #portfolio .portfolio-item .portfolio-caption p {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: italic;
    }

#portfolio * {
    z-index: 2;
}

.dimensions {
    font-weight: bold;
    text-align: center;
}

#services .portfolio-item {
    right: 0;
    margin: 0 0 30px;
}

    #services .portfolio-item .portfolio-link {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        height: 200px;
    }

        #services .portfolio-item .portfolio-link .portfolio-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;
        }

.portfolio-hover.blue {
    background: rgba(66, 139, 202, 0.8);
}

.portfolio-hover.red {
    background: rgba(217, 83, 79, 0.8);
}


.portfolio-hover.green {
    background: rgba(92, 184, 92, 0.8);
}


#services .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    padding: 10px 20px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

    #services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
        margin-top: -12px;
    }

    #services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
    #services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
        margin: 0;
    }

#services .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #f7f7f7;
}

    #services .portfolio-item .portfolio-caption h4 {
        margin: 0;
        text-transform: none;
    }

    #services .portfolio-item .portfolio-caption p {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: italic;
    }

#services * {
    z-index: 2;
}


.serviceimg {
    margin: 50px;
    width: 30%;
}




@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40px;
        width: 2px;
        margin-left: -1.5px;
        background-color: #f1f1f1;
    }

    .timeline > li {
        position: relative;
        margin-bottom: 50px;
        min-height: 50px;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li .timeline-panel {
            float: right;
            position: relative;
            width: 100%;
            padding: 0px 0px 0 100px;
            text-align: left;
        }

            .timeline > li .timeline-panel:before {
                right: auto;
                left: -15px;
                border-right-width: 15px;
                border-left-width: 0;
            }

            .timeline > li .timeline-panel:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }

        .timeline > li .timeline-image {
            /*z-index: 100;
            position: absolute;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            border: 7px solid #f1f1f1;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background-color: #ffffff;*/
            position: absolute;
            left: 0;
            width: 80px;
            height: 80px;
            margin-left: 0;
            font-size: 50px;
            border: 1px solid #f1f1f1;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background-color: #43AAA3;
        }

.timeline-num {
    margin-top: 14px;
    font-size: 30px;
}

.timeline > li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

    .timeline > li.timeline-inverted > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: #656060;
}

    .timeline .timeline-heading h4.subheading {
        text-transform: none;
    }

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        margin-bottom: 50px;
        min-height: 50px;
    }

        .timeline > li .timeline-panel {
            float: left;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: right;
        }

        .timeline > li .timeline-image {
            left: 50%;
            width: 100px;
            height: 100px;
            margin-left: -50px;
            border: 1px solid #f1f1f1;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background-color: #43AAA3;
        }

    .timeline-num {
        margin-top: 14px;
        font-size: 50px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline > li {
        min-height: 150px;
    }

        .timeline > li .timeline-panel {
            padding: 0 0px 0px;
        }

        .timeline > li .timeline-image {
            width: 100px;
            height: 100px;
            margin-left: -50px;
            font-size: 50px;
            border: 1px solid #f1f1f1;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background-color: #43AAA3;
        }

            .timeline > li .timeline-image h4 {
                margin-top: 30px;
                font-size: 18px;
                line-height: 26px;
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 0 0;
        }
}

@media(min-width:1200px) {
    .timeline > li {
        min-height: 150px;
    }

        .timeline > li .timeline-panel {
            padding: 0 20px 20px 30px;
        }

        .timeline > li .timeline-image {
            width: 100px;
            height: 100px;
            margin-left: -50px;
            font-size: 50px;
            border: 1px solid #f1f1f1;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background-color: #43AAA3;
        }

            .timeline > li .timeline-image h4 {
                margin-top: 40px;
            }

        .timeline > li.timeline-inverted > .timeline-panel {
            padding: 0 30px 20px 20px;
        }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

    .team-member img {
        margin: 0 auto;
        border: 7px solid #fff;
    }

    .team-member h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    .team-member p {
        margin-top: 0;
    }

aside.clients img {
    margin: 50px auto;
}

#clients {
    padding: 50px 0 50px;
    background-color: #525252;
}

    #clients img {
        width: 150px;
        height: 100%;
        border-radius: 4px;
        margin-top: 20px;
    }

@media(min-width:768px) {
    #clients img {
        width: 150px;
        height: 100%;
        border-radius: 4px;
    }
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

    section#contact .section-heading {
        color: #fff;
    }

    section#contact .form-group {
        margin-bottom: 25px;
    }

        section#contact .form-group input,
        section#contact .form-group textarea {
            padding: 20px;
        }

            section#contact .form-group input.form-control {
                height: auto;
            }

            section#contact .form-group textarea.form-control {
                height: 236px;
            }

    section#contact .form-control:focus {
        border-color: #fed136;
        box-shadow: none;
    }

    section#contact::-webkit-input-placeholder {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact:-moz-placeholder {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact::-moz-placeholder {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact:-ms-input-placeholder {
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact .text-danger {
        color: #e74c3c;
    }

footer {
    padding: 25px 0;
    text-align: center;
}

    footer span.copyright {
        text-transform: uppercase;
        text-transform: none;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
    }

    footer ul.quicklinks {
        margin-bottom: 0;
        text-transform: uppercase;
        text-transform: none;
        /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
    }

ul.social-buttons {
    margin-bottom: 0;
}

    ul.social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: #fff;
        background-color: #222;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

        ul.social-buttons li a:hover,
        ul.social-buttons li a:focus,
        ul.social-buttons li a:active {
            background-color: #fed136;
        }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .portfolio-modal .modal-content h2 {
        margin-bottom: 15px;
        font-size: 3em;
    }

    .portfolio-modal .modal-content p {
        margin-bottom: 30px;
    }

        .portfolio-modal .modal-content p.item-intro {
            margin: 20px 0 30px;
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            font-style: italic;
        }

    .portfolio-modal .modal-content ul.list-inline {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .portfolio-modal .modal-content img {
        margin-bottom: 30px;
    }

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

    .portfolio-modal .close-modal:hover {
        opacity: .3;
    }

    .portfolio-modal .close-modal .lr {
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        background-color: #222;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

        .portfolio-modal .close-modal .lr .rl {
            z-index: 1052;
            width: 1px;
            height: 75px;
            background-color: #222;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

/*::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}*/

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    /*webkit-tap-highlight-color: #fed136;*/
}

.sectionpadding {
    padding-bottom: 50px;
    padding-top: 50px;
}

section.address {
    color: #ffffff;
    /*background:#141d27;*/
    /*background: #424242;*/
    background: #292f33;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footerme {
    /*background: #424242;*/
    background: #292f33;
    color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

    .btn-social:hover {
        color: #fb8c00;
    }

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

    .btn-outline:hover .btn-outline:focus,
    .btn-outline:active,
    .btn-outline.active {
        border: solid 2px #fff;
        color: #18bc9c;
        background: #fff;
    }

.contentfooter {
    font-family: 'Open Sans', serif;
    line-height: 24px;
    color: #f7f7f7;
    font-size: 12px;
}

.sectionheading {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: 300;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #313030;
}

.whytitle {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #ffffff;
}

section.faq {
    font-family: 'Droid Serif', serif;
    padding-bottom: 20px;
    padding-top: 0px;
    color: #ffffff;
    /*background:#23bfb1;*/
}

hr.grad {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

.panel-default .panel-heading {
    /*background:#00acc1;*/
    background: rgba(120, 144, 156, 1);
}

.panel-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

.panel-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #222;
    font-size: 14px;
    line-height: 24px;
}

.people {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #313030;
    font-size: 2em;
}

    .people img {
        height: 65%;
        width: 65%;
    }

section.team {
    /*background: -webkit-linear-gradient(#e8e8e8,#ffffff); 
    background: -o-linear-gradient(#e8e8e8,#ffffff); 
    background: -moz-linear-gradient(#e8e8e8,#ffffff); 
    background: linear-gradient(#e8e8e8,#ffffff);*/
    font-family: 'Droid Serif', serif;
    padding-bottom: 40px;
    padding-top: 0px;
}

/*section.blog{
    background: -webkit-linear-gradient(#e8e8e8,#ffffff); 
    background: -o-linear-gradient(#e8e8e8,#ffffff); 
    background: -moz-linear-gradient(#e8e8e8,#ffffff); 
    background: linear-gradient(#e8e8e8,#ffffff);
    font-family: 'Droid Serif', serif;
    padding-top:100px;
    padding-bottom:20px;

}*/

section.privacypolicy {
    background: -webkit-linear-gradient(#e8e8e8,#ffffff);
    background: -o-linear-gradient(#e8e8e8,#ffffff);
    background: -moz-linear-gradient(#e8e8e8,#ffffff);
    background: linear-gradient(#e8e8e8,#ffffff);
    font-family: 'Droid Serif', serif;
}

section.terms {
    background: -webkit-linear-gradient(#e8e8e8,#ffffff);
    background: -o-linear-gradient(#e8e8e8,#ffffff);
    background: -moz-linear-gradient(#e8e8e8,#ffffff);
    background: linear-gradient(#e8e8e8,#ffffff);
    font-family: 'Droid Serif', serif;
}


.navcolor {
    color: #bbb;
}


.blog-item {
    right: 0;
    margin: 0 0px 15px;
}

    .blog-item .blog-link {
        display: block;
        position: relative;
        margin: 0 auto;
    }

        .blog-item .blog-link .blog-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 1;
        }

.blog-hover.black {
    background: rgba(0,0,0, 0.5);
}

.blog-hover.teel {
    background: rgba(67, 170, 163, 0.8);
}

.blog-hover.orange {
    background: rgba(220, 132, 42, 0.8);
}

.blog-hover.tan {
    background: rgba(0, 77, 64, 0.7);
}

.blog-hover.tan2 {
    background: rgba(121, 85, 72, 0.8);
}

.blog-hover.blog6 {
    background: rgba(1, 87, 155, 0.8);
}

.blog-hover.blog6 {
    background: rgba(3, 155, 229, 0.8);
}

.blog-hover.blog7 {
    background: rgba(51, 105, 30, 0.8);
}

.blog-content {
    margin: 20px 15px 20px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    color: #fff;
}

.blog-footer {
    min-height: 30px;
    padding: 15px 0px 0px;
    color: rgba(255,255,255,0.5);
    font-size: 16px;
}

.blog-footer-modal {
    padding: 180px 0px 0px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
}

.paddingleftright {
    padding: 0px 80px;
}

.blogimg {
    height: 270px;
}

.blogimgmodal {
    height: 270px;
}


.black {
    background: rgba(0,0,0, 0.5);
}

.teel {
    background: rgba(67, 170, 163, 0.8);
}

.orange {
    background: rgba(220, 132, 42, 0.8);
}

.tan {
    background: rgba(0, 77, 64, 0.7);
}

.tan2 {
    background: rgba(121, 85, 72, 0.8);
}

.blog1 {
    background: rgba(3, 155, 229, 1);
}

.blog2 {
    background: #8bc348;
}

.blog3 {
    background: #ff5722;
}

.blog4 {
    background: #00bfa5;
}

.blog5 {
    background: rgba(67, 170, 163, 1);
}

.blog6 {
    background: #7e57c2;
}

.blog7 {
    background: rgba(51, 105, 30, 0.8);
}

.blog8 {
    background: #006064;
}

.blog9 {
    background: #78909c;
}

.blog-section {
    padding: 120px 0px;
}

.bloglinks {
    color: #fff;
}

.blog-noback {
    min-height: 300px;
}

@media(min-width:767px) {
    .blog-noback {
        min-height: 180px;
    }
}


@media(min-width:992px) {
    .blog-noback {
        min-height: 260px;
    }
}

@media(min-width:1200px) {
    .blog-noback {
        min-height: 230px;
    }
}

.blog-start {
    min-height: 110px;
}

@media(min-width:767px) {
    .blog-start {
        min-height: 70px;
    }
}


@media(min-width:992px) {
    .blog-start {
        min-height: 100px;
    }
}

@media(min-width:1200px) {
    .blog-start {
        min-height: 90px;
    }
}


.blog-mid {
    min-height: 100px;
}

@media(min-width:767px) {
    .blog-mid {
        min-height: 30px;
    }
}

@media(min-width:992px) {
    .blog-mid {
        min-height: 80px;
    }
}

@media(min-width:1200px) {
    .blog-mid {
        min-height: 30px;
    }
}


.read-more {
    font-size: 14px;
}

.blog-author {
    color: #999;
}

.blog-list {
    border-radius: 4px;
    color: #fff;
    background: #78909c;
    padding-bottom: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    padding-top: 10px;
}

@media(min-width:993px) {
    .blog-list {
        border-radius: 4px;
        color: #fff;
        background: #78909c;
        padding-bottom: 20px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 300;
        padding-top: 0px;
    }
}

.blog-list-home {
    color: #333;
    padding-bottom: 20px;
    font-family: 'Open Sans',sans-serif;
}

.blog-hidden {
    visibility: hidden;
}

@media(min-width:1200px) {
    .blog-hidden {
        visibility: visible;
    }
}

.blog-hidden2 {
    visibility: visible;
}

@media(min-width:1200px) {
    .blog-hidden2 {
        visibility: hidden;
    }
}

.blog-home {
    background: #43aaa3;
}

#about h4 {
    color: #43aaa3;
}

.market-icons {
    border: 1px solid #43aaa3;
    border-radius: 100%;
    color: #fff;
    background-color: #ffffff;
    /*margin-left: 70px;*/
    height: 80px;
    width: 80px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60px;
    width: 60px;
}

.market {
    margin-top: 15px;
}

#portfolio h3 {
    font-weight: 300;
}

.benefit-outline {
    display: inline-block;
    width: 100px;
    height: 100px;
    /*border: 2px solid #f6f6f6;*/
    border-radius: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-top: 15px;
    color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.benefit-icons {
    margin-top: 28px;
}

.red {
    background: #d9534f;
}

.green {
    background: #5cb85c;
}

.blue {
    background: #428bca;
}

.orange {
    background: #f0ad4e;
}

@media(min-width:992px) {
    .side-border {
        border-right: 1px solid #d9d9d9;
    }
}

.value {
    text-align: center;
}

@media(min-width:992px) {
    .value {
        text-align: left;
    }
}

@media(max-width:800px) {
    .value-clients {
        padding-top: 60px;
    }
}

@media(min-width:992px) {
    .value-clients {
        padding-left: 60px;
    }
}

@media(min-width:992px) {
    .value-consultants {
        padding-left: 60px;
    }
}

@media(min-width:992px) {
    .consultant-btn {
        margin-bottom: 21px;
    }
}

@media(min-width:1200px) {
    .consultant-btn {
        margin-bottom: 10px;
    }
}

@media(min-width:1200px) {
    .value-icons {
        padding-left: 7px;
    }
}

.down{
    animation: down 0.8s ease-in-out forwards;
    -webkit-animation: down 0.8s ease-in-out forwards;
    -moz-animation: down 0.8s ease-in-out forwards;
    -o-animation: down 0.8s ease-in-out forwards;
}

@-webkit-keyframes down {
    from {
        
        transform: translateY(0);
    }

    to {
        
        transform: translateY(10px);
    }
}

@-moz-keyframes down {
    from {
        
        transform: translateY(0px);
    }

    to {
        
        transform: translateY(10px);
    }
}

@-o-keyframes down {
    from {
        
        transform: translateY(0px);
    }

    to {
        
        transform: translateY(10px);
    }
}

@keyframes down {
    from {
        
        transform: translateY(0px);
    }

    to {
        
        transform: translateY(10px);
    }
}

.arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border: 2px solid #929292;
    border-radius: 100%;*/
    text-align: center;
    font-size: 56px;
    color:#054760;
    margin-top: 15px;
    /*line-height: 45px;*/
}

.arrow:hover{
    -webkit-animation: down 0.2s ease-in-out forwards;
}

/*.arrow-outline {
    margin-top: 15px;
    border: solid 2px #929292;
    font-size: 38px;
    color: #a2a2a2;
    background: 0 0;
    transition: all .3s ease-in-out;
}*/


    .arrow-outline:hover .arrow-outline:focus,
    .arrow-outline:active,
    .arrow-outline.active {
        border: solid 2px #fff;
        color: #fb8c00;
        background: #fff;
    }


.arrow-light {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #929292;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

    .arrow-light:hover {
        border: solid 2px #43aaa3;
        color: #fb8c00;
    }

.arrow-light-outline {
    margin-top: 15px;
    border: solid 2px #f6f6f6;
    font-size: 38px;
    color: #f6f6f6;
    background: 0 0;
    transition: all .3s ease-in-out;
}


/*.arrow-light-outline:hover .arrow-light-outline:focus,
    .arrow-light-outline:active,
    .arrow-light-outline.active {
        border: solid 2px #43aaa3;
        color: #18bc9c;
        
    }*/

/*.arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
   
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    background-color: transparent;
    color: #525252;
    transition: all .3s ease-in-out;
}

    .arrow:hover {
        
        font-size: 25px;
        color: #18bc9c;
    }*/

.arrowvh {
    top: 60vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media(min-width:1200px) {
    .arrowvh {
        top: 80vh;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

.arrow-margin {
    margin-top: 80px;
}

.arrow-margin-less {
    margin-top: 60px;
}

@media(min-width:1200) {
    .arrow-margin {
        margin-top: 100px;
    }
}

.featuredblog {
    padding: 50px 0 50px;
}


.min-height {
    padding-bottom: 0px;
}


@media(min-width:992px) {
    .min-height {
        padding-bottom: 19px;
    }
}

@media(min-width:1200px) {
    .min-height {
        padding-bottom: 0px;
    }
}

    .helpareascol {
        padding:60px 20px;
        margin-bottom: 1px;
    }

    .helpareascol-border{
        border-right: 1px solid #ccc;
    }


@media(min-width:992px){
    .helpareascol {
        padding:60px 20px;
        margin-bottom: 1px;
        /*box-shadow: 0 0 10px #ccc;*/
    }

    .helpareascol-border{
        border-right: 0px;
    }

}
.logos img {
    width: 80%;
}

.logos1 img {
    width: 40%;
    height: 50px;
}

.logos2 img {
    width: 70%;
    height: 80px;
}

.logos3 img {
    width: 100%;
}

#tagline2 {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    opacity: 0;
    animation: fadein 2s linear 0.5s forwards;
    -moz-animation: fadein 2s linear 0.5s forwards; /* Firefox */
    -webkit-animation: fadein 2s ease 0.5s forwards; /* Safari and Chrome */
    -o-animation: fadein 2s linear 0.5s forwards; /* Opera */
}


.help {
    border: 10px solid #f6f6f6;
    border-left: 0px;
    background: #fb8c00;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 10px 10px;
    color: #fff;
    display: block;
    top: 40vh;
    left: 0;
    position: fixed;
    box-shadow: 0 0 5px #ccc;
    z-index: 999;
    -webkit-transition: display 1s linear;
    -moz-transition: display 1s linear;
    -o-transition: display 1s linear;
    transition: display 1s linear;
}

.help-hide {
    display: none;
}
/*.helpphone {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #777;
    display: block;
    top: 75vh;
    left: 0;
    position: fixed;
    border: 1px solid #f6f6f6;
    background:#f6f6f6;
    box-shadow: 0 0 5px #ccc;
    z-index: 999;
}*/

.helpfade {
    opacity: 0;
    animation: fadein 1s linear 30s forwards;
    -moz-animation: fadein 1s linear 30s forwards; /* Firefox*/
    -webkit-animation: fadein 1s linear 30s forwards; /*Safari and Chrome*/
    -o-animation: fadein 1s linear 30s forwards; /*Opera*/
}



.bloghead {
    border: 1px solid #43aaa3;
    background: #43aaa3;
    padding: 15px 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 30px;
    box-shadow: 0 0 5px #ccc;
}

.blogbody {
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 20px;
    color: #777;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
}

.blogfooter {
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    padding: 15px 20px;
    box-shadow: 0 0 5px #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    color: #777;
}

.whitefont {
    color: #fff;
}

.whitefontbiglinks {
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}

.topspace {
    padding-top: 80px;
}


.helpr {
    /*border: 10px solid #f6f6f6;
    border-left: 0px;
    background: #fb8c00;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 10px 10px;
    color: #fff;*/
    display: none;
    top: 90vh;
    right: 0vw;
    position: fixed;
    box-shadow: 0 0 5px #ccc;
    z-index: 999;
    -webkit-transition: display 1s linear;
    -moz-transition: display 1s linear;
    -o-transition: display 1s linear;
    transition: display 1s linear;
}

.helprt {
    background: #fff;
    display: block;
    top: 15vh;
    right: 0vw;
    position: fixed;
    box-shadow: 0 0 5px #ccc;
    z-index: 999;
    -webkit-transition: display 1s linear;
    -moz-transition: display 1s linear;
    -o-transition: display 1s linear;
    transition: display 1s linear;
}

.helprtsm {
    background: #fff;
    display: block;
    top: 10vh;
    right: 0vw;
    position: fixed;
    box-shadow: 0 0 5px #ccc;
    z-index: 999;
    -webkit-transition: display 1s linear;
    -moz-transition: display 1s linear;
    -o-transition: display 1s linear;
    transition: display 1s linear;
}

@media(min-width:768px) {
    .topspace30 {
        margin-top: 25px;
        margin-left: 25px;
    }
}

.postproject {
    background: #fb8c00;
    border: 1px solid #fb8c00;
    width: 250px;
    font-size: 20px;
}

    .postproject:hover {
        background: #f57c00;
        border: 1px solid #f57c00;
        width: 250px;
    }

.come-in {
    animation: come-in 0.8s ease-out forwards;
    -webkit-animation: come-in 0.8s ease-in-out forwards;
    -moz-animation: come-in 0.8s ease-in-out forwards;
    -o-animation: come-in 0.8s ease-in-out forwards;
}
/*.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}*/
.already-visible {
    transform: translateY(0);
    animation: none;
    -webkit-animation: none;
    -o-animation: none;
    -moz-animation: none;
}

@-webkit-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes come-in {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.orange-btn {
    background: #ffa726;
    border: 1px #ffa726;
    border-style: solid;
    box-shadow: 0px 2px 0px #fb8c00;
    transition: all .3s ease-in-out;
}

    .orange-btn:hover {
        background: #fb8c00;
        border: 1px #fb8c00;
        border-style: solid;
        box-shadow: 0px 2px 0px #fb8c00;
    }

.gray-btn {
    background: #78909c;
    border: 1px #78909c;
    border-style: solid;
    transition: all .3s ease-in-out;
}

    .gray-btn:hover {
        background: #607d8b;
        border: 1px #607d8b;
        border-style: solid;
    }

.orange-link {
    color: #fb8c00;
}

    .orange-link:hover {
        color: #ffa726;
    }


.white-btn {
    color: #333;
    border: 1px solid #78909c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    background: #ffffff;
    box-shadow: 0px 1px 0px #78909c;
    transition: all .3s ease-in-out;
}

    .white-btn:hover {
        color: #fff;
        border: 1px solid #78909c;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        background: #78909c;
    }

.profile-hover-content-test{
    position: absolute;
    top: 5%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-left: 5px; 
    padding-right: 5px; 
}
.profile-hover-test {
    position: absolute;
    height: 95px;
    width: 343px;
    margin: auto;
    opacity: 0;
    background: rgba(5, 71, 96, 1);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}



@media(min-width:768px) {
    .profile-hover-test {
        position: absolute;
        height: 203px;
        width: 375px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}



@media(min-width:992px) {
    .profile-hover-test {
        position: absolute;
        height: 203px;
        width: 323px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}

@media(min-width:1200px) {
    .profile-hover-test {
        position: absolute;
        height: 202px;
        width: 389px;
        margin: auto;
        opacity: 0;
        background: rgba(5, 71, 96, 1);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
    }
}

.projectDisplay:hover .profile-hover-test{
    opacity:1;
}

.projectDisplay:hover .profile-hover-content-test{
    
    -webkit-animation: come-in 0.2s ease-out forwards;
    
}
